# Google Drive API Information
client_secrets.json

# Google Drive credentials
credentials.json

# OneDrive API Information
onedrive_client_secrets.json

# OneDrive Credentials
onedrive_settings.json

# Cloud Drive API Information
cloud_drive_client_secrets.json

# Cloud Drive Credentials
cloud_drive_settings.json
